.site-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  text-align: left;
  max-width: 940px;
  margin: 0 auto;
}
.site-info {
  -webkit-box-flex: 1;
  flex-grow: 1;
  width: 80%;
}

