<mat-form-field>
  <input matInput placeholder="Search Flights" type="text" [(ngModel)]="searchText" />
</mat-form-field>
<button button="submit" mat-raised-button color="primary">Search</button>
<br />
<div *ngIf="(data | search: searchText).length === 0">
  No match found
</div>
<div *ngFor="let details of data | search: searchText">
  <mat-card>
    <mat-card-content>
      <span class="flight_info--item">{{ details.flightScheduleDate | date: 'dd LLL ,  yyyy' }}</span>
      <span class="flight_info--item"> {{ details.flightNumber }}</span>
      <span class="flight_info--item">  {{ details.flightStatusPublic }}</span>
    </mat-card-content>
  </mat-card>
</div>
